<mat-accordion *ngIf="selectedAddresses && selectedAddresses.length > 0">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Selected addresses<span class="color-grey">&nbsp;({{selectedAddresses.length}})</span></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-chip-list>
      <mat-chip *ngFor="let a of selectedAddresses" color="primary" selected [removable]="true" (removed)="removeSelectedAddress(a)">
        <span matTooltip="{{tooltipMessage(a)}}"  matTooltipPosition="above">
          {{a.address.prefix}} {{a.address.streetName}} {{a.address.blockNumber}}
        </span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

    </mat-chip-list>

  </mat-expansion-panel>
</mat-accordion>


