<div>
  <div *ngIf="loading" class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="addresses == null || addresses.length == 0">
    <mat-toolbar>No addresses</mat-toolbar>
  </div>
  <div *ngIf="addresses != null && addresses.length > 0">
    <table class="addresses-table mat-elevation-z8" mat-table [dataSource]="addresses">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let address">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="select($event, address)"
                        [checked]="isSelected(address)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let address">{{address.prefix}} {{address.streetName}} {{address.blockNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="season">
        <th mat-header-cell *matHeaderCellDef> Season </th>
        <td mat-cell *matCellDef="let address">
          <mat-button-toggle-group [multiple]="true" #group="matButtonToggleGroup">
            <mat-button-toggle *ngFor="let season of seasons" value="{{season.id}}" [checked]="isSeasonChecked(address, season)" (change)="selectSeason(address, season, $event)">
              '{{season.name.substr(2, 2)}}
            </mat-button-toggle>
            <mat-button-toggle *ngFor="let columnNumber of mapNumberOfEmptyColumnsToCollection(address)" value="{{address.id}}emptyColumn{{columnNumber}}" [checked]="true" (click)="removeEmptyColumn(address)">
              <mat-icon>crop_square</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <ng-container matColumnDef="export-button">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-raised-button color="primary" (click)="exportCsv()" [disabled]="selectedAddresses.length == 0">CSV</button>
          <button class="margin-left" mat-raised-button color="primary" (click)="exportPdf()" [disabled]="selectedAddresses.length == 0">PDF</button>
        </th>
      </ng-container>

      <ng-container matColumnDef="filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput [(ngModel)]="filter.name" (keyup)="applyFilter()" placeholder="Filter">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="add-empty-column">
        <th mat-header-cell *matHeaderCellDef> Empty column </th>
        <td mat-cell *matCellDef="let address">
          <button class="small-button" mat-stroked-button (click)="addEmptyColumn(address)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none"></tr>
      <tr mat-header-row *matHeaderRowDef="['select', 'filter', 'export-button', 'add-empty-column']"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <div infiniteScroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="1000"
           [infiniteScrollContainer]="addresses-table"
           (scrolled)="getChunk()">
      </div>

    </table>
  </div>
</div>
