table {
  width: 100%;

  .cursor-pointer {
    cursor: pointer;
  }

  tr {
    &:hover td {
     background: rgba(255, 255, 255, 0.05);
    }

    &.header-row th {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.small-button {
  min-width: 1%;
  color: rgba(255,255,255,.5);
}

mat-button-toggle {
  cursor: pointer;
}

.margin-left {
  margin-left: 5px;
}

.container {

  .loading {
    z-index: 500;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

tr.expanded-details {
  height: 0;
}

.expandedDetails {
  overflow: hidden;
  padding-top: 4px;
}
